.hero-container {
  @media only screen and (max-width: 425px) {
    height: 200px !important;
    font-size: 2em !important;

    .hero {
      line-height: 1.1em !important;
    }
  }
}

.language-blurb {
  font-size: 1.7em;
  text-align: center;
  line-height: normal;
  margin-bottom: 1rem;
  color: lighten(#34495e, 20%);
  padding: 0 50px;

  &.text-small {
    font-size: 1.2em;
  }

  @media only screen and (max-width: 600px) {
    font-size: 1.4em;
    padding: 0;

    &.text-small {
      font-size: 1.2em;
    }
  }

  @media only screen and (max-width: 425px) {
    font-size: 1.2em;
    padding: 0;

    &.text-small {
      font-size: 1em;
    }
  }
}

.index-languages {
  margin-bottom: 1.2em;
  overflow: hidden;

  .language {
    text-align: center;
    color: #ffffff;
    font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: normal;
    padding: 45px 10px;
    border-radius: 2px;
    margin-bottom: 1.69492%;
    display: inline-block;

    @media only screen and (max-width: 600px) {
      font-size: 1.5em;
    }

    @media only screen and (max-width: 425px) {
      font-size: 1.3em;
      font-weight: normal;
    }

    &.dot-net {
      background: #8e44ad;
    }

    &.html {
      background: #3498db;
    }

    &.css {
      background: #e67e22;
    }

    &.js {
      background: #f1c40f;
    }
  }
}