$paragraphColour: #34495e;
$strongColour: #2c3e50;
$linkColour: #2980b9;
$linkHoverColour: #8e44ad;
$inlineCodeColour: #cc9393;
$inlineCodeBackgroundColour: #3f3f3f;

p {
  color: $paragraphColour;

  strong {
    color: $strongColour;
  }

  a {
    color: $linkColour;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: $linkHoverColour;
    }
  }

  code {
    color: $inlineCodeColour;
  }
}

.meta-data {
  color: lighten($paragraphColour, 20%);
  margin-bottom: 0.5em;
}

blockquote {
  font-style: italic;
  color: $paragraphColour;
  padding: 10px;
  margin: 1.5rem 3rem;
  border-left: 4px $inlineCodeColour solid;
  background: darken(#ffffff, 5%);

  @media only screen and (max-width: 425px) {
    margin: 1.5rem;
  }

  a {
    color: $linkColour;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: $linkHoverColour;
    }
  }
}
